<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>书籍</title>
    <link rel="stylesheet" href="\static\bs\css\bootstrap.css">
</head>
<body>

<h3 class="text-center">书籍列表</h3>


<dev class="container">
    <dev class="row">
        <dev class="col-lg-6 col-md-offset-3">
            <a href="/books/add" class="btn btn-primary">添加书籍</a>
            <a href="/authors/" class="btn btn-primary">作者列表</a>
            <a href="/authordetails/" class="btn btn-primary">作者详情列表</a>
            <a href="/publishs/" class="btn btn-primary">出版社列表</a>

            <table class="table table-bordered table-hover table-striped">
                <thead class="bg-primary">
                    <tr>
                        <th>编号</th>
                        <th>书名</th>
                        <th>价格</th>
                        <th>出版日期</th>
                        <th>出版社</th>
                        <th>作者</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in current_page %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ book.title }}</td>
                            <td>{{ book.price }}</td>
                            <td>{{ book.publishDate|date:"Y-m-d" }}</td>
                        <td>
                            {{ book.publish.name }}
                        </td>
                        <td>
                            {% for author in book.authors.all %}
                                {% if forloop.last %}
                                    <span>{{ author.name }}</span>
                                {% else %}
                                    <span>{{ author.name }}</span>,
                                {% endif %}
                            {% endfor %}

                        </td>
                        <td>
                            <a href="/books/{{ book.pk }}/delete/" class="btn btn-danger">删除</a>
                            <a href="/books/{{ book.pk }}/change/" class="btn btn-warning">编辑</a>
                        </td>
                        </tr>
                    {% endfor %}

                </tbody>

            </table>
            <nav aria-label="Page navigation">
                <ul class="pagination">
{#                    <li><a href="?page={{ current_page_num|add:-1 }}" aria-label="Previous"><span aria-hidden="true">上一页</span></a></li>#}
                    {#  首页上一页锁定                   #}
                    {% if current_page.has_previous %}
                    <li><a href="?page={{ current_page.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">上一页</span></a></li>
                    {% else %}
                    <li class="disabled"><a href="" aria-label="Previous"><span aria-hidden="true">上一页</span></a></li>
                    {% endif %}

                    {#  循环页码    #}
                    {% for item in page_range %}
                        {# class=active 页码加深效果 #}
                        {% if current_page == item %}
                            <li class="active"><a href="?page={{ item }}">{{ item }}</a></li>
                        {% else %}
                            <li><a href="?page={{ item }}">{{ item }}</a></li>

                        {% endif %}
                    {% endfor %}

{#                    <li><a href="?page={{ current_page_num|add:1 }}" aria-label="Next"><span aria-hidden="true">下一页</span></a></li>#}
                    {% if current_page.has_next %}
                        <li><a href="?page={{ current_page.next_page_number }}" aria-label="Next"><span aria-hidden="true">下一页</span></a></li>
                    {% else %}
                        <li class="disabled"><a href="" aria-label="Next"><span aria-hidden="true">下一页</span></a></li>
                    {% endif %}

                </ul>
            </nav>
        </dev>
    </dev>
</dev>


</body>
</html>